/* CSS untuk styling */
@import "compass/css3";
@import "compass/reset";


body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    font-size: 16px;
  padding-top: 100px;
  }
  header{
    width: 100%;
    height: 100px;
    background-color: #bfd2df;
    text-align: center;
    position: relative;
    position: fixed;
    top: 0;
    overflow: hidden;
    
    h1{
      font-size: 42px;
      color: #fff;
      line-height: 100px;
      text-transform: uppercase;
      font-weight: 100;
    }
    nav{
      position: absolute;
      bottom: 0;
      height: 60px;
      line-height: 60px;
      width: 100%;
      background-color: rgba(67, 85, 253, 0.623);
    }
  }
  h2{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 1;
    color: #2c3e50;
  }
  p{
    margin-bottom: 2rem;
    line-height: 2;
    color: #7f8c8d;
  }
  .wrapper{
    width: px;
    margin: 0 auto;
  }
  section{
    padding: 20px;
    margin-bottom: 40px;
    background-color: #fff;
  }
  